header {
	background: #BA55D3;
	padding: 20px 0;
}

.caixa {
	position: relative;
	width: 100%;
	margin:0 auto;
}

nav {
	position: absolute;
	top: 17;
	right: 0;
}

nav li {
	display: inline;
	margin: 0 0 0 15px;
}

nav a {
	text-transform: uppercase;
	color: #000000;
	font-weight: bold;
	font-size: 20px;
	text-decoration: none;
}

nav a:hover {
	color: #4B0082;
}

.produtos {
	width: 1450;
	margin: 0 auto;
	padding: 150px 0;
}

.produtos li {
	display: inline-block;
	text-align: left;
	width: 30%;
	vertical-align: top;
	margin: 0 1.5%;
	padding: 30px 0px;
	box-sizing: border-box;
	border: 2px solid #000000;
	border-radius: 20px;
}

.produtos li:hover {
	border-color: #FF010A;
}

.produtos li:hover h2 {
	font-size: 27px;
}

.produtos h2 {
	font-size: 22px;
	font-weight: bold;
}

.nome-produto {
	text-transform: uppercase;
	text-align: center;
}

.produto-descrição {
	font-size: 20px;
}

.produto-preço {
	font-size: 25px;
	font-weight: bold;
	margin-top: 15px;
	text-align: center;
}

footer {
	background: #000000;
	color: #E1E7FA;
	padding: 100px 0;
}

footer p {
	text-transform: uppercase;
	font-size: 21px;
	padding: 20px 70px;
	margin: 0;
}

main {
	width: 1450px;
	margin: 0 auto;
	background: #D8BFD8;
}

form {
	margin-left: 130px;
}

form label, form legend {
	display:block;
	font-size: 20px;
	margin: 0 0 10px;
}

.input-padrão {
	display: block;
	margin: 0 0 20px;
	padding: 10px 25px;
	width: 50%;
}

.checkbox {
	margin: 25px 0;
}

.enviar {
	width: 40%;
	padding: 15px 0;
	background: purple;
	color: white;
	font-weight: bold;
	font-size: 18px;
	border: none;
	border-radius: 10px;
	transition: 1s all;
	cursor: pointer;
}

.enviar:hover {
	background: MediumOrchid;
	transform: scale(1.2);
}

.rodape {
	text-align: center;
	font-size: 22px;
	font-weight: bold;
}
