/*css da página inial */
body {
	font-family: 'Montserrat', sans-serif;
}

header {
	padding: 20px 0;
}

.caixa {
	position: relative;
	width: 100%;
	margin: 0, auto;
}

nav {
	position: absolute;
	top: 17;
	right: 0;
}

nav li {
	display: inline;
	margin: 0 0 0 15px;
}

nav a {
	text-transform: uppercase;
	color: #000000;
	font-weight: bold;
	font-size: 20px;
	text-decoration: none;
}

nav a:hover {
	color: #8B008B;
}

.design{
  width: 100%;
}

.main-index {
	width: 100%;
	background: #D8BFD8;
	background: linear-gradient(#D8BFD8, #4B0082);
}

.pagina-produtos {
	text-decoration: none;
}

.principal {
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
	margin: 0 0 1em;
}

.principal strong {
	font-weight: bold;
}

.principal em {
	font-style: italic;
}

.titulo {
	font-weight: bold;
	font-size: 2em;
	text-align: center;
	margin: 0 0 1em;
}

video {
  width: 320px;
}

.final {
	font-size: 20px;
	text-align: center;
	font-weight: bold;
	padding-bottom: 20px;
	padding-top: 20px;
}

footer {
	background: linear-gradient(#4B0082,#000000);
	color: #E1E7FA;
	padding-top: 40px;
}

/*css dos produtos */
h2 {
	text-align: center;
	font-size: 2em;
	font-weight: bold;
}

.produtos {
	width: 100%;
	margin: 0 auto;
	padding: 50px 0;
}

.produtos li {
	display: inline-block;
	text-align: left;
	width: 30%;
	vertical-align: top;
	margin: 0 1.5%;
	padding: 30px 0px;
	box-sizing: border-box;
	border: 2px solid #000000;
	border-radius: 20px;
}

.produtos li:hover {
	border-color: #FF010A;
}

.produtos li:hover h3 {
	font-size: 27px;
}

.produtos h3 {
	font-size: 22px;
	font-weight: bold;
}

.nome-produto {
	text-transform: uppercase;
	text-align: center;
}

.foto {
	margin-left: 50px;
}

.produto-descrição {
	font-size: 20px;
}

.produto-preço {
	font-size: 25px;
	font-weight: bold;
	margin-top: 25px;
	text-align: center;
}

.comprar-agora {
	width: 40%;
	padding: 15px 0;
	background: #8605EB;
	color: white;
	font-weight: bold;
	font-size: 22px;
	text-align: center;
	border: none;
	border-radius: 3px;
	margin-left: 160px;
	margin-top: 50px;
	transition: 1s all;
	cursor: pointer;
}

.comprar-agora:hover {
	background: #3911EB;
	transform: scale(1.2);
}

footer p {
	text-transform: uppercase;
	font-size: 21px;
	padding: 20px 70px;
	margin: 0;
}

/*css do contato */
.main-contato {
	width: 100%;
	margin: 0 auto;
	background: linear-gradient(#D8BFD8, #9932CC);
}

form {
	margin-left: 130px;
}

form label, form legend {
	display:block;
	font-size: 20px;
	margin: 0 0 10px;
}

.input-padrão {
	display: block;
	margin: 0 0 20px;
	padding: 10px 25px;
	width: 50%;
}

.checkbox {
	margin: 25px 0;
}

.enviar {
	width: 40%;
	padding: 15px 0;
	background: purple;
	color: white;
	font-weight: bold;
	font-size: 18px;
	border: none;
	border-radius: 10px;
	transition: 1s all;
	cursor: pointer;
}

.enviar:hover {
	background: MediumOrchid;
	transform: scale(1.2);
}

h2 {
	font-weight: bold;
	font-size: 35px;
	text-align: center;
}

.mapa {
	padding: 3em 0;
}

.mapa p {
	margin: 1em 0 2em;
	text-align: center;
}

.rodape {
	text-align: center;
	font-size: 22px;
	font-weight: bold;
}

.footer-contato {
	background: linear-gradient(#9932CC,#000000);
	color: #E1E7FA;
	padding-top: 40px;
}


/*css do squad*/
header {
	padding: 20px 0;
}

.main-squad {
	background: #DDA0DD;
}

.titulo {
  font-size: 35px;
  text-align: center;
  font-weight: bold;
	margin-bottom: 20px;
}

.imagem {
	width: 15%;
	margin-left: 220px;
	margin-top: 10px;
	margin-bottom: 10px;
	opacity: 1;
	transition: 400ms;
}

.imagem:hover {
	opacity: 0.3;
}

.imagem-dois {
	width: 15%;
	margin-left: 420px;
	margin-top: 10px;
	margin-bottom: 10px;
	opacity: 1;
	transition: 400ms;
}

.imagem-dois:hover {
	opacity: 0.3;
}

.descricao {
	width: 30%;
	display: inline-block;
	margin-left: 140px;
	margin-top: 10px;
	margin-bottom: 40px;
	font-size: 18px;
}

.squad a {
	text-decoration: none;
	font-weight: bold;
	margin: 0 0 0 15px;
}

.descricao-dois {
	width: 30%;
	display: inline-block;
	margin-left: 200px;
	margin-top: 10px;
	margin-bottom: 40px;
	font-size: 18px;
}

.descricao-dois a {
	text-decoration: none;
}

footer {
	padding: 100px 0;
}

/*css web design*/
header {
	background: #BA55D3;
	padding: 20px 0;
}

.main-design {
	background: linear-gradient(#D8BFD8, #9932CC)
}

h2 {
  text-align: center;
  font-size: 25px;
  color: #8B008B;
  font-weight: bold;
	padding-top: 20px;
}

.curso {
  display: inline-block;
	vertical-align: top;
  width: 30%;
  margin: 20px;
  font-size: 20px;
}

 .mentores{
  text-align: center;
  font-size: 27px;
}

.aprendizados {
  display: inline-block;
  width: 400px;
}

.tempo {
  text-align: center;
	background: #BA55D3;
	width: 30%;
	vertical-align: top;
	margin: 20px;
	padding: 30px 0px;
	box-sizing: border-box;
	border: 2px solid #000000;
	border-radius:20px;
}

.tempo-dois {
	text-align: center;
	background: #BA55D3;
	width: 30%;
	vertical-align: top;
	margin: 20px;
	padding: 30px 0px;
	box-sizing: border-box;
	border: 2px solid #000000;
	border-radius:20px;
}

.link {
	text-align: center;
	font-size: 20px;
	margin: 20px;
	font-weight: bold;
}

.metodologia {
	text-align: center;
	font-size: 20px;
}

.trabalho {
	font-size: 27px;
	color: #4B0082;
	text-align: center;
	font-weight: bold;
  margin-top: 23px;
}

.trabalho-texto {
	margin: 20px;
	font-size: 20px;
}

.finalizaçao {
	margin-top:40px;
	text-align: center;
	font-size: 19px;
	color: #4B0082;
}

.desconto {
	font-weight: bold;
	text-align: center;
	color: #FF0000;
	font-size: 27px;
  margin-top: 25px;
}

.video {
	margin-top:40px;
	font-weight: bold;
	text-align: center;
}

iframe {
	width: 560px;
	height: 315px;
	display: block;
	margin: 0 auto;
}

.oferta {
	font-weight: bold;
	color: #FF0000;
	text-align: center;
	font-size: 20px;
}

.footer-design {
		background: linear-gradient(#9932CC,#000000);
		color: #E1E7FA;
		padding-top: 40px;
}
