header {
	background: #BA55D3;
	padding: 20px 0;
}

.caixa {
	position: relative;
	width: 100%;
	margin:0 auto;
}

nav {
	position: absolute;
	top: 17;
	right: 0;
}

nav li {
	display: inline;
	margin: 0 0 0 15px;
}

nav a {
	text-transform: uppercase;
	color: #000000;
	font-weight: bold;
	font-size: 20px;
	text-decoration: none;
}

nav a:hover {
	color: #4B0082;
}

main {
  background: #DDA0DD;
}

.titulo {
  font-size: 35px;
  text-align: center;
  font-weight: bold;
	margin-bottom: 20px;
}

.imagem {
	width: 15%;
	margin-left: 220px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.imagem-dois {
	width: 15%;
	margin-left: 420px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.descricao {
	  width: 30%;
		display: inline-block;
		margin-left: 140px;
		margin-top: 10px;
		margin-bottom: 40px;
		font-size: 18px;
}

.descricao-dois {
	width: 30%;
	display: inline-block;
	margin-left: 200px;
	margin-top: 10px;
	margin-bottom: 40px;
	font-size: 18px;
}

footer {
	background: #000000;
	color: #E1E7FA;
	padding: 100px 0;
}
