header {
	background: #BA55D3;
  padding: 20px 0;
}

.caixa {
	position: relative;
	width: 100%;
	margin:0 auto;
}

nav {
	position: absolute;
	top: 17;
	right: 0;
}

nav li {
	display: inline;
	margin: 0 0 0 15px;
}

nav a {
	text-transform: uppercase;
	color: #000000;
	font-weight: bold;
	font-size: 20px;
	text-decoration: none;
}

nav a:hover {
	color: #4B0082;
}

.design {
  width: 100%;
}

.princial {
  padding-top: 30px;
}

.titulo-principal{
  padding-left: 20px;
}

.titulo-centralizado {
  text-align: center;
}

p {
  text-align: center;
}

#paragrafo {
  font-size: 25px;
}

em strong {
  color: #FF0000;
}

video {
  width: 320px;
}

.final {
	font-size: 19px;
	color: #BA55D3;
	font-weight: bold;
}
